<header
  class="w-full h-16 flex items-center justify-between px-6 border-b border-border bg-surface sticky top-0 z-30 transition-colors shadow-2xs"
>
  <div class="flex items-center">
    <p-breadcrumb
      [model]="breadcrumbItems()"
      styleClass="bg-transparent p-0 border-none text-sm font-medium"
    >
      <ng-template #item let-item>
        @if (item.routerLink) {
          <a [routerLink]="item.routerLink" class="text-primary transition-colors cursor-pointer">
            {{ item.label }}
          </a>
        } @else {
          <span class="text-heading font-semibold">
            {{ item.label }}
          </span>
        }
      </ng-template>
    </p-breadcrumb>
  </div>

  <div class="flex items-center gap-4">
    <button
      type="button"
      (click)="profilePopover.toggle($event)"
      class="flex items-center justify-center p-0.5 rounded-full border border-border hover:border-primary/40 focus:outline-none transition-all cursor-pointer"
    >
      @if (user()?.imageShortUrl) {
        <img
          [src]="user()?.imageShortUrl"
          alt="User Profile Avatar"
          class="w-9 h-9 rounded-full object-cover"
        />
      } @else {
        <div
          class="flex items-center justify-center w-9 h-9 rounded-full bg-accent text-primary font-black border border-accent/50"
        >
          {{ userInitials() }}
        </div>
      }
    </button>
  </div>
</header>

<p-popover
  #profilePopover
  styleClass="w-64 p-2 rounded-card border border-border bg-surface shadow-lg"
>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col px-3 py-2.5 rounded-card border-b border-border">
      <span class="text-xs font-bold text-heading truncate">
        {{ user()?.fullName }}
      </span>
      <span class="text-xxs font-medium text-muted truncate mt-0.5">
        {{ user()?.email }}
      </span>
    </div>
    <a
      routerLink="/settings"
      (click)="profilePopover.hide()"
      class="flex items-center gap-2.5 px-3 py-2 text-xs rounded-card text-paragraph border-b border-border hover:bg-zinc-50 transition-all cursor-pointer"
    >
      <i class="pi pi-cog text-sm text-muted"></i>
      <span>Account Settings</span>
    </a>

    <button
      type="button"
      (click)="profilePopover.hide(); onLogout()"
      class="w-full flex items-center gap-2.5 px-3 py-2 text-xs rounded-card text-danger hover:bg-danger/10 transition-all cursor-pointer text-left"
    >
      <i class="pi pi-sign-out text-sm"></i>
      <span>Logout</span>
    </button>
  </div>
</p-popover>
