<p-button
  (onClick)="toggle()"
  [rounded]="true"
  [text]="true"
  severity="secondary"
  pTooltip="Toggle theme"
  tooltipPosition="bottom"
  styleClass="w-[42px] h-[42px] flex items-center justify-center transition-all duration-300 ease-out hover:scale-105 active:scale-95 bg-transparent hover:bg-border"
>
  <span class="relative w-5 h-5 flex items-center justify-center">
    <i
      class="pi pi-sun text-xl text-paragraph transition-all duration-400 ease-out transform opacity-100 rotate-0 scale-100"
    ></i>

    <i
      class="pi pi-moon text-xl text-paragraph transition-all duration-400 ease-out transform absolute opacity-0 -rotate-30 scale-70"
    ></i>
  </span>
</p-button>
